.about-us {
  margin-bottom: 55px;
}

.about-us__header {
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: #000000;
  margin: 0 0 87px -2px;
}

.about-us__list {
  font-family: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.18;
  color: #000000;

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column wrap;
}

.about-us__item {
  margin-bottom: 83px;
  //width: 300px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
  }
}

.about-us__item--eco-clean {
  width: 195px;

  &::before {
    content: url("../img/icon-feature-flower.svg");
    top: -55px;
    left: 8px;
  }
}

.about-us__item--price {
  &::before {
    content: url("../img/icon-feature-money.svg");
    top: -54px;
    left: 1px;
  }
}

.about-us__item--likes {
  &::before {
    content: url("../img/icon-feature-heart.svg");
    top: -49px;
    left: 8px;
  }
}

.about-us__item--hand-made {
  width: 210px;

  &::before {
    content: url("../img/icon-feature-ball.svg");
    top: -51px;
    left: 4px;
  }
}

.about-us__item--local-support {
  &::before {
    content: url("../img/icon-feature-rocket.svg");
    top: -51px;
    left: -5px;
  }
}

.about-us__item--package {
  &::before {
    content: url("../img/icon-feature-gift.svg");
    top: -53px;
    left: 4px;
  }
}

.about-us__item--price,
.about-us__item--likes,
.about-us__item--package {
  width: 200px;
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-bottom: 76px;
  }

  .about-us__list {
    font-size: 20px;
    line-height: 1.1;
    /*TODO: data overflow?*/
    height: 360px;
  }

  .about-us__header {
    font-size: 43px;
    line-height: 1.16;
    margin-bottom: 105px;
    margin-left: -5px;
  }

  .about-us__item {
    margin-right: 100px;
    margin-bottom: 110px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  .about-us__item--eco-clean {
    width: 230px;
  }

  .about-us__item--price {
    width: 235px;
  }

  .about-us__item--likes {
    width: 220px;
  }

  .about-us__item--hand-made {
    width: 255px;
  }

  .about-us__item--local-support {
    width: 295px;
  }

  .about-us__item--package {
    width: 235px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-bottom: 81px;
  }

  .about-us__list,
  .about-us__header {
    margin-left: 175px;
  }

  .about-us__header {
    font-size: 53px;
    line-height: 1.08;
  }

  .about-us__list {
    align-content: flex-start;
  }

  .about-us__item {
    margin-right: 116px;
  }
}
