.about-us {
  margin-bottom: 55px;
  padding: 0 30px;
}

.about-us__header {
  font-family: $bold-font;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: #000000;

  margin: 34px 0 88px 0;
}

.about-us__list {
  font-family: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.18;
  color: #000000;

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-flow: column wrap;
}

.about-us__item {
  margin-bottom: 83px;
  //width: 300px;
}

.about-us__item--eco-clean {
  width: 195px;
}

.about-us__item--price,
.about-us__item--likes,
.about-us__item--package {
  width: 200px;
}

.about-us__item--hand-made {
  width: 210px;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 0;
  }

  .about-us__list {
    height: 420px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__list,
  .about-us__header {
    margin-left: 175px;
  }
}
