.button {
  font-size: 18px;
  line-height: 1.11;
  font-weight: bold;
  font-style: normal;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid #444444;
  padding: 13px 0 16px 0;

  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #444444;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #444444;
}
