.catalog {
  margin-bottom: 32px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;
}

.catalog__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;

  display: flex;
  flex-flow: column nowrap;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:last-child {
  margin-bottom: 0;
}

.catalog_image {
  margin: 0 0 27px 0;
}

.catalog__name {
  font-family: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: #000000;

  margin: 0 0 5px 27px;
  width: 200px;
}

.catalog__description {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 2.31;

  margin: 0 0 20px 27px;
}

.catalog__price-cart-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
  border-top: 1px solid #ececec;
  padding-top: 21px;
}

.catalog__price {
  font-family: $bold-font;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  color: #000000;

  margin: 0 0 26px 0;
}

.catalog__add-to-cart {
  outline: none;
}

.catalog__add-to-cart svg {
  opacity: 0.2;
}

.catalog__add-to-cart:hover svg,
.catalog__add-to-cart:focus svg {
  fill: #63d1bb;
  opacity: 1;
}

.catalog__add-to-cart:active svg {
  fill: #63d1bb;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 52px;
  }

  .catalog__item {
    flex-flow: column wrap;
    align-content: flex-start;
    /* TODO: fixed height - not good */
    height: 334px;
    margin-bottom: 55px;
  }

  .catalog__name {
    font-size: 20px;
    line-height: 1.2;

    width: 230px;
    margin-top: 26px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog__description {
    font-size: 15px;
    line-height: 2;
  }

  .catalog__price-cart-wrapper {
    margin-top: auto;
    margin-left: 35px;
    width: 269px;
  }

  .catalog__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .catalog_image {
    width: 334px;
    height: 334px;

    display: block;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 60px;
  }

  .catalog__list {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-flow: column nowrap;
    height: auto;
    width: 316px;
    margin-bottom: 0;
  }

  .catalog__price {
    margin-top: initial;
  }

  .catalog__description {
    margin-bottom: 14px;
  }

  .catalog_image {
    width: 316px;
    height: 462px;
  }

  .catalog__price-cart-wrapper {
    margin-left: 27px;
    width: 257px;
  }
}
