.contacts {
  margin-bottom: 39px;
  position: relative;
}

.contacts__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.contacts__header {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  color: #000000;

  margin: 0 0 24px 28px;
}

.contacts__info {
  font-size: 15px;
  line-height: 2;

  margin-bottom: 33px;
  margin-left: 28px;
}

/*TODO: move to table block*/
.table__field {
  vertical-align: top;
  padding: 0 0 28px 0;
}

.table__value {
  vertical-align: top;
  width: 213px;
}

.contacts__email {
  text-decoration: none;
  color: inherit;
  outline: none;
  border-bottom: 1px solid $link-color;

  &:hover,
  &:focus {
    color: $link-color;
  }

  &:active {
    color: $link-color;
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: inherit;
  width: 150px;
}

.contacts__map {
  position: relative;
  margin-bottom: 39px;

  width: 100%;
  height: 457px;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
  border: none;

  position: absolute;
  left: 0;
  top: 0;
}

.contacts__write-us {
  align-self: center;
  padding-right: 50px;
  padding-left: 50px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 38px;

    &::before {
      content: url("../img/icon-flag.svg");
      position: absolute;
      top: 0;
      right: 53px;
      width: 47px;
      height: 81px;
    }
  }

  .contacts__header {
    font-size: 43px;
    line-height: 1.16;

    margin: 14px 0 45px 46px;
  }

  .contacts__info {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 54px;
    margin-left: 46px;
    width: 688px;
  }

  .contacts__address {
    width: 222px;
  }

  .contacts__map {
    margin-bottom: 54px;
  }

  .table__value--email {
    padding-left: 20px;
  }

  .table__value--address {
    padding-left: 22px;
    width: 292px;
  }

  .contacts__write-us {
    padding-right: 39px;
    padding-left: 39px;
    margin-bottom: 18px;
    margin-left: -4px;

    font-size: 17px;
    line-height: 1.18;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts__info tbody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: $desktop-width;
    padding: 0 50px;
    margin: 0 auto;

    margin-bottom: 87px;

    &::before {
      top: 61px;
      left: 113px;
      right: unset;
    }
  }

  .contacts__wrapper {
    width: 350px;
    margin-left: 121px;
  }

  .contacts__header {
    font-size: 53px;
    line-height: 1.08;

    margin-top: 70px;
    margin-bottom: 47px;
    margin-left: 47px;
  }

  .contacts__info {
    width: 290px;
    margin-bottom: 76px;
    margin-left: 49px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;

    width: 525px;
  }

  .contacts__write-us {
    margin-left: -10px;
  }

  .table__value--email {
    padding-left: 22px;
  }

  .table__value--address {
    padding-left: 24px;
  }

  .table__field {
    padding-bottom: 25px;
  }
}
