.contacts {
  padding: 0 30px;
  margin-bottom: 39px;

  position: relative;
}

.contacts__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.contacts__header {
  font-family: $bold-font;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  color: #000000;

  margin: 42px 0 24px 0;
}

.contacts__info {

  font-size: 15px;
  line-height: 2;

  margin-bottom: 33px;

  border: 1px solid black;
}

.table__field {
  vertical-align: top;
  padding-bottom: 27px;
}

.table__value {
  vertical-align: top;
  width: 180px;
}

.contacts__e-mail {
  text-decoration: none;
  color: inherit;

  border-bottom: 1px solid #62d1ba;
}

.contacts__address {
  font-style: inherit;
  width: 150px;
}

.contacts__map {
  margin-bottom: 41px;
}

.contacts__write-us {
  //align-self: flex-start;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts__info tbody {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 300px;
    margin-left: 175px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
  }
}
