.form__radio-label {
  padding-left: 63px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    border-radius: 50%;
    margin-left: -64px;
    margin-top: -10px;
  }
}

.form__radio-label:hover,
.form__radio:focus + .form__radio-label {
  &::before {
    border-color: #62d1ba;
  }
}

.form__radio:checked + .form__radio-label::after {
  content: "";

  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #62d1ba;
  top: 2px;
  left: 11px;
}

.form__radio:active + .form__radio-label {
  &::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form__checkbox-label {
  padding-left: 63px;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    margin-left: -64px;
    margin-top: -10px;
  }
}

.form__checkbox-label:hover,
.form__checkbox:focus + .form__checkbox-label {
  &::before {
    border-color: #62d1ba;
  }
}

.form__checkbox:checked + .form__checkbox-label {
  &::before {
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 22px 16px;
  }
}

.form__checkbox:active + .form__checkbox-label {
  &::before {
    border-color: rgba(68, 68, 68, 0.3);
  }
}

.form__text-field {
  border: none;
  border-bottom: 2px solid #000000;

  width: 100%;
  padding-top: 12px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 1.06;
  font-weight: normal;
  font-style: normal;

  color: #444444;
  background-color: transparent;
  outline: none;

  position: relative;
  z-index: 1;
}

.form__text-field:hover,
.form__text-field:active,
.form__text-field:focus {
  border-color: #62d1ba;
}

.form__text-field + svg {
  position: absolute;
  bottom: 0;
  right: 10px;
  opacity: 0.2;
}

.form__text-field--email + svg {
  bottom: -3px;
  right: 4px;
}

.form__text-field:hover + svg {
  fill: #62d1ba;
  opacity: 1;
}

.form__text-field:active + svg,
.form__text-field:focus + svg {
  fill: #62d1ba;
  opacity: 1;
}

.form__text-field::placeholder {
  opacity: 0.3;

  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.06;
}

.form__text-field--phone::placeholder {
  font-size: 19px;
  line-height: 0.95;
}

.form__text-label {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.06;
  color: #000000;
}

.form__text-label--phone,
.form__text-label--email {
  line-height: 0.94;
  color: #63d1bb;
  text-transform: uppercase;

  position: relative;
  &::before {
    content: "";

    position: absolute;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    right: 0;
    top: 11px;
  }
}

.form__text-label--email {
  &::before {
    position: absolute;
    width: 179px;
  }
}

.form__text-area {
  border: 2px solid #000000;

  height: 142px;
  width: 100%;

  padding-left: 16px;
  padding-top: 13px;

  font-size: 17px;
  line-height: 1.06;
  font-weight: normal;
  font-style: normal;

  color: #444444;
  outline: none;
}

.form__text-area:hover,
.form__text-area:active,
.form__text-area:focus {
  border-color: #62d1ba;
}

@media (min-width: $tablet-width) {
  .form__radio-label {
    padding-left: 80px;

    &::before {
      width: 52px;
      height: 53px;

      margin-left: -80px;
      margin-top: -17px;
    }
  }

  .form__radio:checked + .form__radio-label::after {
    width: 22px;
    height: 22px;
    top: -1px;
    left: 15px;
  }

  .form__checkbox-label {
    padding-left: 80px;

    &::before {
      width: 54px;
      height: 52px;

      margin-top: -15px;
      margin-left: -80px;
    }
  }

  .form__checkbox:checked + .form__checkbox-label::before {
    background-size: 35px 24px;
  }

  .form__text-label {
    font-size: 19px;
    line-height: 0.95;

    display: flex;
    align-items: baseline;
  }

  .form__text-field {
    font-size: 19px;
    line-height: 0.95;

    padding-left: 17px;
  }

  .form__text-field::placeholder {
    font-size: 19px;
    line-height: 0.95;
  }

  .form__text-field--phone + svg {
    bottom: 18px;
    right: 26px;
  }

  .form__text-field--email + svg {
    bottom: 16px;
    right: 23px;
  }

  .form__text-label--phone,
  .form__text-label--email {
    font-size: 17px;
    line-height: 0.94;

    width: 100%;

    &::before {
      content: none;
    }
  }

  .form__text-area::placeholder {
    opacity: 0.3;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    line-height: 0.95;
  }
}

@media (min-width: $desktop-width) {
  .form__text-label--phone,
  .form__text-label--email {
    width: 812px;
  }

  .form__text-field--phone + svg {
    right: 7px;
  }

  .form__text-field--email + svg {
    right: 4px;
  }
}
