.main-nav {
  font-family: $bold-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  font-style: normal;
  color: #000000;

  display: flex;
  flex-flow: column nowrap;

  position: relative;
}

.main-nav__toggle {
  position: absolute;
  left: calc(50% + 105px);
  top: 27px;

  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
}

.main-nav--opened .main-nav__toggle-image--open,
.main-nav--closed .main-nav__toggle-image--close {
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__list-item {
  border-top: 1px solid #ececec;
}

.main-nav__list-item--new,
.main-nav__list-item--sale {
  display: none;
}

.main-nav__list-link {
  color: #000000;

  padding: 27px 0 28px calc(50% - 84px);
  display: block;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list--site,
  .main-nav--closed .main-nav__list--user {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-flow: row wrap;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list--site {
    order: 1;
    width: 100%;

    font-size: 15px;
    line-height: 1.6;
  }

  .main-nav__list--user {
    margin-left: auto;
  }

  .main-nav__list-item {
    border: none;
  }

  .user-list__item--search {
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__list--site {
    order: -1;
    width: 380px;
    flex-flow: row wrap;

    font-size: 17px;
    line-height: 1.41;
  }

  .main-nav__list--user {
    margin-left: 0;
  }

  .main-nav__list-item--new,
  .main-nav__list-item--sale {
    display: block;
  }
}
