.order-knitting {
  margin-bottom: 55px;
}

.order-knitting__text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;

  margin-top: -8px;
  margin-bottom: 24px;
}

.order-knitting__fieldset {
  border: none;
  padding: 0 30px;
}

.order-knitting__fieldset--interior {
  margin-bottom: 44px;
}

.order-knitting__fieldset--name {
  margin-bottom: 8px;
}

.order-knitting__fieldset--phone {
  margin-bottom: 29px;
}

.order-knitting__fieldset--email {
  margin-bottom: 32px;
}

.order-knitting__fieldset--addon {
  margin-bottom: 9px;
}

.order-knitting__fieldset-legend {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.94;
  color: #63d1bb;
  text-transform: uppercase;

  display: block;
}

.order-knitting__fieldset-legend--interior,
.order-knitting__fieldset-legend--color {
  margin-bottom: 35px;
}

.order-knitting__fieldset-legend--name {
  margin-bottom: 28px;
}

.order-knitting__fieldset-legend--phone,
.order-knitting__fieldset-legend--email {
  margin-bottom: 11px;
}

.order-knitting__fieldset-legend--addon {
  margin-bottom: 26px;
}

.order-knitting__text-field {
  margin-bottom: 20px;
}

.order-knitting__text-field--phone {
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 18px;
}

.order-knitting__text-field--email {
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 18px;
}

.order-knitting__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-knitting__fields-item--interior {
  margin-bottom: 24px;
}

.order-knitting__fields-item--color {
  margin-bottom: 43px;
}

.order-knitting__label {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.06;
  color: #000000;

  display: block;
}

.order-knitting__requied {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.14;

  margin: 0 0 32px 0;
}

.order-knitting__place-order {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-knitting {
    margin-bottom: 29px;
  }

  .order-knitting__text {
    font-size: 17px;
    line-height: 1.76;

    padding-right: 55px;
    margin-bottom: 75px;
  }

  .order-knitting__fieldset {
    display: flex;
    flex-flow: row nowrap;

    padding: 0 52px;
  }

  .order-knitting__fieldset-wrapper {
    background-color: $page-blocks-background-color;
  }

  .order-knitting__fieldset-wrapper--color {
    padding-top: 65px;
    padding-bottom: 11px;
  }

  .order-knitting__fieldset-wrapper--phone-email {
    padding-top: 50px;
    padding-bottom: 18px;
  }

  .order-knitting__fieldset--phone {
    margin-bottom: 24px;
  }

  .order-knitting__fieldset-legend {
    width: 167px;
    flex-shrink: 0;
  }

  .order-knitting__fieldset-legend--name {
    margin-top: 16px;
  }

  .order-knitting__fieldset--name {
    padding-top: 51px;
    padding-bottom: 14px;
  }

  .order-knitting__fieldset--addon {
    padding-top: 50px;
    margin-bottom: 53px;
  }

  .order-knitting__fieldset-legend--phone {
    margin-top: 17px;
  }

  .order-knitting__fieldset-legend--email {
    margin-top: 16px;
  }

  .order-knitting__fieldset-legend--addon {
    margin-top: 16px;
  }

  .order-knitting__fields-list--color {
    display: flex;
    flex-flow: row wrap;
  }

  .order-knitting__fields-item--color {
    margin-bottom: 58px;
  }

  .order-knitting__fields-item--color:nth-child(2n+1) {
    width: 262px;
  }

  .order-knitting__fields-item--name {
    margin-bottom: 4px;
  }

  .order-knitting__fields-list--name {
    flex-grow: 1;
  }

  .order-knitting__label {
    font-size: 19px;
    line-height: 0.95;
  }

  .order-knitting__fieldset--interior {
    margin-bottom: 13px;
  }

  .order-knitting__fields-item--interior {
    margin-bottom: 57px;
  }

  .order-knitting__text-field {
    margin-left: 26px;
  }

  .order-knitting__text-field--phone,
  .order-knitting__text-field--email {
    margin-left: auto;
    width: 500px;
  }

  .order-knitting__requied-order-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
  }

  .order-knitting__place-order {
    width: auto;
    padding: 13px 30px;
  }

  .order-knitting__requied {
    order: 2;
    margin-left: auto;

    font-size: 17px;
    line-height: 1.76;
  }
}

@media (min-width: $desktop-width) {
  .order-knitting__text {
    padding: 0 225px;

    margin-bottom: 70px;
  }

  .order-knitting__fieldset {
    padding-left: 114px;
    padding-right: 114px;
  }

  .order-knitting__fieldset-legend {
    width: 111px;
  }

  .order-knitting__fields-item--color {
    width: 262px;
  }

  .order-knitting__fields-list--name {
    width: 700px;
    flex-grow: 0;
  }

  .order-knitting__text-field--phone {
    width: 700px;
  }

  .order-knitting__text-field--email {
    width: 700px;
  }

  .order-knitting__text-area {
    width: 700px;
  }

  .order-knitting__fieldset--addon {
    margin-bottom: 50px;
  }

  .order-knitting__requied-order-wrapper {
    padding: 0 225px;
  }
}
