.order-knitting {
  margin-bottom: 55px;
}

.order-knitting__text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;

  margin: -5px 0 24px 0;
}

.order-knitting__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.order-knitting__fieldset--interior {
  margin-bottom: 20px;
}

.order-knitting__fieldset--name {
  margin-bottom: 11px;
}

.order-knitting__fieldset--phone {
  margin-bottom: 33px;
}

.order-knitting__fieldset--email {
  margin-bottom: 32px;
}

.order-knitting__fieldset--addon {
  margin-bottom: 6px;
}

.order-knitting__phone-field {
  margin-bottom: 0;
}

.order-knitting__email-field {
  margin-bottom: 0;
}

.order-knitting__fieldset-legend {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.94;
  color: #63d1bb;
  text-transform: uppercase;
}

.order-knitting__fieldset-legend--interior,
.order-knitting__fieldset-legend--color {
  margin-bottom: 35px;
}

.order-knitting__fieldset-legend--name {
  margin-bottom: 28px;
}

.order-knitting__fieldset-legend--phone,
.order-knitting__fieldset-legend--email {
  margin-bottom: 11px;
}

.order-knitting__fieldset-legend--addon {
  margin-bottom: 26px;
}

.order-knitting__fields-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-knitting__fields-item--interior {
  margin-bottom: 24px;
}

.order-knitting__fields-item--color {
  margin-bottom: 43px;
}

.order-knitting__type-label,
.order-knitting__color-label {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.06;
  color: #000000;

  display: block;
}

.order-knitting__requied {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.14;

  margin: 0 0 32px 0;
}

.order-knitting__place-order {
  width: 100%;
}
