.page-body {
  font-family: $main-font;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  font-style: normal;
  color: #444444;

  background-color: $body-background-color;

  box-sizing: border-box;
  min-width: 320px;

  display: flex;
  flex-direction: column;
}
