.page-header {
  width: 100%;
  margin: 0 auto;
}

.page-header__logo {
  text-align: center;

  margin: 20px 0 18px 0;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__free-delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    padding: 0 50px;

    position: relative;
    z-index: 1;
  }

  .page-header__free-delivery {
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;

    display: block;
    position: absolute;
    top: 92px;
    left: calc(50% + 101px);
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

  .page-header__logo {
    margin: 9px 0 0 -26px;
  }
}
