.page-main {
  display: flex;
  flex-flow: column nowrap;
}

.page-main__header {
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.11;
  color: #000000;
  text-align: center;
  background-color: $page-blocks-background-color;

  padding: 71px 3px 75px 0;
  margin: 0 0 31px 0;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    margin-top: -70px;
    padding-top: 96px;
    padding-bottom: 92px;
    margin-bottom: 67px;

    font-size: 43px;
    line-height: 1.16;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: 770px 24px;
    background-position: bottom 0 left 0;
  }

  .page-main__header--form {
    padding-top: 94px;
    padding-bottom: 95px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    font-size: 53px;
    line-height: 1.08;

    padding-top: 93px;
    padding-bottom: 121px;
    margin-bottom: 111px;

    background-size: 1150px 34px;
    background-position: bottom 0 left 0;
  }

  .page-main__header--catalog {
    margin-left: 4px;
  }
}
