.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  width: $mobile-width - 2 * 30px;
  margin: 0 auto;
  margin-bottom: 31px;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-image:hover {
  fill: #46c1ae;
}

.page-footer__logo-image:active {
  fill: #46c1ae;
  opacity: 0.3;
}

.page-footer__social {
  display: flex;
  flex-flow: row wrap;

  margin: 30px 0 25px 0;
}

.page-footer__social-item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__copyright {
  display: flex;
  margin-top: 20px;
}

.copyright__link {
  margin-top: -5px;
}

.copyright__text {
  font-family: $bold-font;
  font-size: 19px;
  font-weight: bold;
  font-style: normal;
  line-height: 0.95;
  color: #000000;

  margin-right: 32px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 50px;
    width: $tablet-width - 2 * 50px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin: 11px 0 0 81px;
  }

  .page-footer__copyright {
    margin-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-width - 2 * 50px;
  }
}
