.page-header {
  width: $mobile-width;
  margin: 0 auto;
}

.page-header__logo {
  text-align: center;

  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    padding: 0 50px;
  }

}

@media (min-width: $desktop-width) {
  .page-header {
    width: $desktop-width;
  }

}
