.products {
  background-color: #fbfbfb;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top -22px left 50%;
}

.products__description {
  font-family: $bold-font;
  font-size: 26.5px;
  line-height: 1.11;
  font-weight: bold;
  font-style: normal;
  color: #010000;
  text-align: center;

  margin: 71px auto 123px auto;

  width: 245px;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;

  /*TODO: temporary*/
  width: $mobile-width;
  margin: 0 auto;
}

.products__item-link {
  display: block;

  padding: 26px 140px 30px 29px;

  text-decoration: none;
  font-family: $bold-font;
  font-size: 19px;
  line-height: 1.26;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;

  position: relative;

  &::before {
    position: absolute;
    top: 22px;
  }
}

.products__item-link span {
  display: block;
  width: 120px;
}

.products__item-link--interior {
  &::before {
    content: url("../img/icon-interior.svg");
    right: 36px;
  }
}

.products__item-link--toys {
  &::before {
    content: url("../img/icon-toy.svg");
    right: 27px;
  }
}

.products__item-link--interior {
  background-color: #63d1bb;
}

.products__item-link--toys {
  background-color: #56c3b2;
}

@media (min-width: $tablet-width) {
  .products {
    margin-top: -71px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: top left 50%;
  }

  .products__item {
    width: 50%;
  }

  .products__item-link {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 36px;
  }

  .products__list {
    flex-flow: row wrap;

    width: $tablet-width;
    margin: 0 auto;
    padding: 0 50px;
  }

  .products__description {
    font-size: 43px;
    line-height: 1.16;

    width: auto;
    margin-top: 154px;
    margin-bottom: 375px;
  }
}

@media (min-width: $desktop-width) {
  .products__description {
    font-size: 53px;
    line-height: 1.08;
    margin-bottom: 360px;
  }

  .products__list {
    width: $desktop-width;
  }
}
