.production-process {
  margin-bottom: 56px;

  position: relative;
}

.production-process__wrapper {
  border: 1px solid #ececec;

  display: flex;
  flex-flow: column nowrap;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production-process__header {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: #000000;

  margin: 23px 0 24px 89px;
  width: 130px;

  position: relative;

  &::before {
    content: url("../../img/icon-video.svg");
    width: 32px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: -58px;
  }
}

.production-process__video {
  width: 260px;
  height: 150px;
  margin: 0 0 28px 0;
}

.production-process__video-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  position: absolute;
  top: 131px;
  left: 104px;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}

.production-process__text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;

  margin: 0 0 25px 33px;
  width: 190px;
}

.production-process__place-order {
  margin: 0 0 33px 0;

  align-self: center;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .production-process {
    margin-bottom: 62px;
  }

  .production-process__header {
    font-size: 20px;
    line-height: 1.2;

    margin-top: 11px;
    margin-left: 105px;
    margin-bottom: 33px;
    width: auto;

    &::before {
      top: -5px;
      left: -63px;
    }
  }

  .production-process__wrapper {
    width: 668px;
  }

  .production-process__video {
    order: -1;

    width: 668px;
    height: 455px;

    margin-bottom: 29px;
  }

  .production-process__text {
    font-size: 15px;
    line-height: 2;

    margin-left: 39px;
    margin-bottom: 36px;
    width: 590px;
  }

  .production-process__place-order {
    align-self: stretch;

    margin: 0 41px 46px 41px;

    font-size: 17px;
    line-height: 0.94;
  }

  .production-process__video-button {
    top: 190px;
    left: 327px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    margin-bottom: 103px;
  }

  .production-process__wrapper {
    flex-flow: column wrap;
    width: auto;
    padding-left: 682px;
  }

  .production-process__header {
    width: 230px;
    margin-left: 78px;
    margin-top: 93px;
    margin-bottom: 35px;

    &::before {
      top: -54px;
      left: 3px;
    }
  }

  .production-process__video {
    width: 682px;
    height: 455px;

    position: absolute;
    top: 0;
    left: 50px;
  }

  .production-process__text {
    width: 290px;
    margin-left: 78px;
    margin-bottom: 47px;
  }

  .production-process__place-order {
    margin-bottom: 61px;
    margin-left: 78px;
    align-self: flex-start;
    padding-left: 43px;
    padding-right: 43px;
  }

  .production-process__video-button {
    top: 187px;
    left: 335px;
  }
}
