.product-of-week {
  padding: 0 30px;
  margin-bottom: 34px;
}

.product-of-week__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.product-of-week__header {
  font-family: $bold-font;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  font-style: normal;
  color: #63d1bb;
  margin: 0 0 26px 0;
}

.product-of-week__name {
  font-family: $bold-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  margin: 28px 0 3px 0;
  order: -1;
}

.product-of-week__description {
  margin: 0 0 17px 0;
}

.product-of-week__params-list {
  line-height: 1.33;

  border-collapse: collapse;
  margin-bottom: 28px;
}

.product-of-week__params-field,
.product-of-week__params-value {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ececec;
}

.product-of-week__params-value {
  padding-left: 18px;
}

.product-of-week__image {
  margin-bottom: 24px;
}

.product-of-week__price {
  font-family: $bold-font;
  font-size: 17px;
  line-height: 1.41;
  font-weight: bold;
  font-style: normal;
  color: #444444;
  align-self: center;
  margin: 0 0 28px 0;
}

@media (min-width: $tablet-width) {
  .product-of-week {
    padding: 0;
    position: relative;
  }

  .product-of-week__header {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .product-of-week__wrapper {
    width: 334px;
  }

  .product-of-week__image {
    position: absolute;
    top: 100px;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-of-week__wrapper {
    margin-left: 175px;
  }

  .product-of-week__header {
    top: 15px;
    left: 10px;
  }
}
