.product-of-week__header {
  font-family: $bold-font;
  font-size: 17px;
  line-height: 1.18;
  font-weight: bold;
  font-style: normal;
  color: #63d1bb;

}

.product-of-week__name {
  font-family: $bold-font;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
  color: #000;
}
