.production-process {
  margin-bottom: 58px;

  position: relative;
}

.production-process__wrapper {
  border: 1px solid #ececec;

  display: flex;
  flex-flow: column nowrap;
}

.production-process__header {
  font-family: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: #000000;

  margin: 23px 0 24px 91px;
  width: 130px;

  position: relative;

  &::before {
    content: url("../../img/icon-video.svg");
    width: 32px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: -58px;
  }
}

.production-process__video {
  margin: 0 0 27px 0;
}

.production-process__text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.85;

  margin: 0 0 28px 33px;
  width: 190px;
}

.production-process__place-order {
  margin: 0 0 33px 0;

  align-self: center;
  padding: 13px 24px;
}

@media (min-width: $tablet-width) {
  .production-process {
    margin-bottom: 62px;
  }

  .production-process__header {
    font-size: 20px;
    line-height: 1.2;

    margin-top: 11px;
    margin-left: 108px;
    margin-bottom: 33px;
    width: auto;

    &::before {
      top: -5px;
      left: -63px;
    }
  }

  /*TODO: refactor?*/
  .production-process__wrapper picture {
    order: -1;
  }

  .production-process__video {
    width: 668px;
    height: 455px;
  }

  .production-process__text {
    font-size: 15px;
    line-height: 2;

    margin-left: 42px;
    margin-bottom: 36px;
    width: 590px;
  }

  .production-process__place-order {
    align-self: stretch;

    margin: 0 44px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    margin-bottom: 103px;
  }

  .production-process__wrapper {
    flex-flow: column wrap;

    padding-left: 682px;
  }

  .production-process__header {
    width: 230px;
    margin-left: 78px;
    margin-top: 93px;
    margin-bottom: 35px;

    &::before {
      top: -54px;
      left: 3px;
    }
  }

  .production-process__video {
    width: 682px;
    height: 455px;

    position: absolute;
    top: 0;
    left: 50px;
  }

  .production-process__text {
    width: 290px;
    margin-left: 78px;
    margin-bottom: 47px;
  }

  .production-process__place-order {
    margin-bottom: 60px;
    margin-left: 78px;
    align-self: flex-start;
    padding: 13px 45px;
  }
}
