.testimonials {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: 320px 8px;
  background-position: bottom 0 left 8px;

  margin-bottom: 35px;
}

.testimonials__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.testimonials__slider-controls {
  margin-bottom: 37px;
}

.testimonials__header {
  font-family: $bold-font;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: #000000;

  margin: 0 0 9px 0;
}

.testimonials__list {
  margin-bottom: 32px;
}

.testimonials__text {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 2;

  margin: 0 0 27px 0;
}

.testimonials__author-name {
  font-family: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: #000000;
}

.testimonials__author-link {
  text-decoration: none;
  color: inherit;

  font-size: 17px;
  line-height: 1.76;
}

.testimonials__write {
  margin-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .testimonials {
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg"), url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat, repeat-x;
    background-size: 350px auto, 772px 15px;
    background-position: 0 0, bottom 0 left 19px;

    margin-bottom: 47px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg"), url("../img/bg-zigzag-line.svg");
    }
  }

  .testimonials__wrapper {
    position: relative;

    &::after {
      height: 25px;
    }
  }

  .testimonials__header {
    font-size: 43px;
    line-height: 1.16;

    margin-top: 76px;
    margin-bottom: 33px;
    margin-left: -5px;
  }

  .testimonials__list {
    margin-bottom: 134px;
  }

  .testimonials__text {
    font-size: 17px;
    line-height: 1.76;

    margin-bottom: 43px;
  }

  .testimonials__text br {
    display: none;
  }

  .testimonials__author-name {
    font-size: 18px;
    line-height: 1.33;

    margin-bottom: 3px;
  }

  .testimonials__write {
    position: absolute;
    top: 80px;
    right: 52px;

    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0;
    /* TODO: Move to button? */
    font-size: 17px;
    line-height: 1.18;
  }

  .testimonials__slider-controls {
    position: absolute;

    right: 53px;
    top: 358px;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .testimonials {
    background-image: none;

    margin-bottom: 70px;
  }

  .testimonials__wrapper {
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50px top;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      content: "";
      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-size: 1050px auto;
      background-position: -24px 0;
      display: block;
      height: 23px;
      width: 100%;
    }
  }

  .testimonials__header,
  .testimonials__list {
    margin-left: 175px;
  }

  .testimonials__header {
    font-size: 53px;
    line-height: 1.08;
    margin-top: 72px;
    margin-bottom: 31px;
  }

  .testimonials__list {
    width: 770px;

    margin-bottom: 163px;
  }

  .testimonials__text {
    margin-bottom: 24px;
  }

  .testimonials__text br {
    display: none;
  }

  .testimonials__slider-controls {
    top: 310px;
  }
}
