.testimonials {
  margin-bottom: 44px;
}

.testimonials__wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.testimonials__slider-controls {
  margin-bottom: 40px;
}

.testimonials__header {
  font-family: $bold-font;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.2;
  color: #000000;

  margin: 0 0 9px 0;
}

.testimonials__list {
  margin-bottom: 36px;
}

.testimonials__text {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  line-height: 2;

  margin: 0 0 27px 0;
}

.testimonials__author-name {
  font-style: $bold-font;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.41;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .testimonials {
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .testimonials__wrapper {
    position: relative;
  }

  .testimonials__write {
    position: absolute;

    top: 0;
    right: 0;
  }

  .testimonials__slider-controls {
    position: absolute;

    bottom: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .testimonials__header,
  .testimonials__list {
    margin-left: 175px;
  }

  .testimonials__list {
    width: 700px;
  }
}
