.user-list {
  list-style: none;
}

.user-list__link {
  text-decoration: none;
}

.user-list__item--search {
  position: relative;
}

.user-list__link-icon--search {
  position: absolute;
  top: 30px;
  left: calc(50% - 128px);

  opacity: 0.2;
}

.user-list__item--cart {
  position: relative;
}

.user-list__link-icon--cart {
  position: absolute;
  top: 30px;
  left: calc(50% - 128px);

  opacity: 0.2;
}

.user-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list__link:active {
  opacity: 0.3;
}

.user-list__link:hover svg {
  fill: #63d1bb;
  opacity: 1;
}

.user-list__link:active svg {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .user-list__item {
    border-left: 1px solid #ececec;
  }

  .user-list__link {
    padding: 31px 5px 34px 81px;
    height: 100%;
  }

  .user-list__link-icon--cart {
    top: 33px;
    left: 31px;
  }

  .user-list__link-icon--search {
    top: 36px;
    left: 35px;
  }
}
