<footer class="page-footer">
  <div class="page-footer__wrapper">
    <a class="page-footer__logo" href="index.html" aria-label="Интернет-магазин «Мишка»">
      <svg class="page-footer__logo-image" aria-hidden="true" role="presentation" width="102" height="34">
        <use xlink:href="#logo-footer"></use>
      </svg>
    </a>
    <ul class="page-footer__social social">
      <li class="page-footer__social-item social__item">
        <a class="social__link social__link--instagram" href="https://www.instagram.com/htmlacademy"
          aria-label="Мы в Инстаграме">
          <svg aria-hidden="true" role="presentation" width="22" height="21">
            <use xlink:href="#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="page-footer__social-item page-footer__social-item--facebook social__item">
        <a class="social__link social__link--facebook" href="https://www.facebook.com/htmlacademy"
          aria-label="Мы в Фейсбуке">
          <svg aria-hidden="true" role="presentation" width="15" height="28">
            <use xlink:href="#icon-fb"></use>
          </svg>
        </a>
      </li>
      <li class="page-footer__social-item social__item">
        <a class="social__link social__link--twitter" href="https://www.instagram.com/htmlacademy"
          aria-label="Мы в Твиттере">
          <svg aria-hidden="true" role="presentation" width="23" height="20">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="page-footer__copyright copyright">
      <b class="copyright__text">Разработано</b>
      <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive" aria-label="HTML Academy">
        <svg aria-hidden="true" role="presentation" width="27" height="34">
          <use xlink:href="#logo-htmlacademy"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
